<link rel="import" href="../polymer/polymer.html"/>
<link rel="import" href="../cells-step-behavior/cells-step-manager-behavior.html"/>
<link rel="import" href="../dp-aso-users/dp-aso-users.html">
<link rel="import" href="../cells-dp-global-apis-withdrawal/cells-dp-global-apis-withdrawal.html"/>

<!--
# cells-dm-global-apis-withdrawal

Version: **2.2.2**

> CELLS Data Manager for GLOBAL APIS withdrawal

Provides *step-by-step* operation resolution and performs AJAX in order to complete withdrawal operation.

## Services

- [Transfer GLOBAL API v0](http://apisbbva.bitbucket.org/#/global/apis/paymentMethods/transfers)

## Dependencies:

- [cells-step-manager-behavior](https://globaldevtools.bbva.com/bitbucket/projects/CBH/repos/cells-step-behavior/browse/cells-step-manager-behavior.html)
- [cells-dp-global-apis-withdrawal](https://globaldevtools.bbva.com/bitbucket/projects/BBVACELLSAPI/repos/cells-dp-global-apis-withdrawal/browse)

## Example:

```html
<cells-dm-global-apis-withdrawal></cells-dm-global-apis-withdrawal>
```

@demo demo/index.html
-->

<dom-module id="cells-dm-global-apis-withdrawal">
  <template>
    <cells-dp-global-apis-withdrawal id="dpWithdrawal"
      endpoint="[[endpoint]]"
      service="/mobile-transfers"
      body="[[_requestBody]]"
      simulated="[[_isSimulating]]">
    </cells-dp-global-apis-withdrawal>
    <dp-aso-users id="dpAsoUsers"
        environment="[[environment]]"
        user-id="[[_userId]]"
        last-response={{_usersResponse}}
        last-error={{_usersError}}>
    </dp-aso-users>
  </template>
  <script src="cells-dm-global-apis-withdrawal.js"></script>
</dom-module>

