<link rel="import" href="../../polymer/polymer.html"/>
<link rel='import' href="../../cells-service-caller-form/cells-service-caller-form.html"/>
<dom-module id="data-manager-payload-demo">
  <template>
    <cells-service-caller-form id="demoOwnTransfers"></cells-service-caller-form>
  </template>
  <script>
    /* global mocks CellsSCFBuilder */
    (function(Polymer, CellsSCFBuilder) {
      'use strict';

      Polymer({
        is: 'data-manager-payload-demo',
        ready: function() {
          var dpConfig = function(id, data) {

            return {
              name: 'dp-global-apis-funds',
              id: id,
              methods: {
                generateRequest: function() {
                  return new Promise(function(resolve, reject) {
                    resolve({response: data});
                  });
                }
              }
            };
          };

          var _builder = new CellsSCFBuilder();
          [
            {
              selector: '#demoOwnTransfers',
              component: 'cells-dm-global-apis-transfer',
              requestMethod: 'doTransfer',
              name: '/own-transfers?simulated=false',
              events: [ 'last-response-changed' ],
              properties: {
                _selectedSource: mocks.accounts[0],
                _selectedDestination: mocks.accounts[1],
                sourceCurrency: 'USD',
                amount: 50
              },
              mock: true,
              dp: [ dpConfig('dpOwnTransfers', mocks.ownTransfer.post.response) ]
            }
          ].forEach(function(config) {
            _builder.buildServiceCallerForm(config, this);
          }, this);
        }
      });
    }(Polymer, CellsSCFBuilder));
  </script>
</dom-module>
