<link rel="import" href="../../polymer/polymer.html"/>
<link rel="import" href="../../cells-glomo-theme/cells-glomo-theme.html"/>
<link rel="import" href="../../cells-demo-mobile/cells-demo-mobile.html"/>
<link rel="import" href="../../cells-smooth-scroll-import/cells-smooth-scroll-import.html"/>
<link rel="import" href="../../cells-step-product-selector/cells-step-product-selector.html"/>
<link rel="import" href="../../cells-step-enter-amount/cells-step-enter-amount.html"/>
<link rel="import" href="../../cells-step-date-selector/cells-step-date-selector.html"/>
<link rel="import" href="../../cells-step-concept/cells-step-concept.html"/>
<link rel="import" href="../../cells-summary-view/cells-summary-view.html"/>
<link rel="import" href="../../cells-operation-review/cells-operation-review.html"/>
<link rel="import" href="../../coronita-icons/coronita-icons.html"/>
<link rel="import" href="../cells-dm-global-apis-transfer.html"/>

<dom-module id="data-manager-behavior-demo">
  <template>

    <style>
      @media screen {
        .status {
          position: absolute;
          z-index: 999;
          top: 0;
          left: 0;
          width: auto;
          height: auto;
          display: inline-block;
          background-color: rgba(0, 0, 0, 0.5);
          color: #ffffff;
          padding: 10px;
          box-shadow: 0 0 1px 2px #cccccc;
        }
        .status span {
          display: block;
        }
      }

      @media screen and (min-width: 769px) {
        .status {
          margin-top: 20%;
        }
      }
    </style>

    <div class="status">
      <h3>DM Status</h3>
      <span>MAX STEPS: <b>[[_maxSteps]]</b></span>
      <span>Current step: <b>[[_currentStep]]</b></span>
      <hr/>
      <span>Origin: <b>[[_origin]]</b></span>
      <span>Balance: <b>[[_sourceBalance]] [[_sourceCurrency]]</b></span>
      <span>Destination: <b>[[_destination]]</b></span>
      <template is="dom-if" if="[[_amount]]">
        <span>Amount: <b>[[_amount]] [[_sourceCurrency]]</b></span>
      </template>
      <span>Date: <b>[[_date]]</b></span>
      <span>Concept: <b>[[_concept]]</b></span>
      <template is="dom-if" if="[[_reference]]">
        <span>Reference: [[_reference]]</span>
      </template>
      <template is="dom-if" if="[[_fees]]">
        <template is="dom-if" if="[[_fees.totalFees]]">
          <span>Total fees: <b>[[_fees.totalFees.amount]] [[_fees.totalFees.currency]]</b></span>
        </template>
        <template is="dom-repeat" items="[[_fees.itemizeFees]]">
          <span>{{item.name}}: <b>{{item.amount.amount}} {{item.amount.currency}}</b></span>
        </template>
      </template>
      <template is="dom-if" if="[[_lastResponse]]">
        <span>Last response:</span>
        <pre>[[_lastResponse]]</pre>
      </template>
    </div>

    <cells-demo-mobile id="demo-mobile">

      <cells-step-product-selector
        id="origin"
        title="Origen"
        change-label="Cambiar"
        current-step="1"
        max-steps="5"
        selected="{{_origin}}"
        products="[[_sources]]"
        default-product-index="0">
      </cells-step-product-selector>

      <cells-step-product-selector
        id="destination"
        title="Destino"
        change-label="Cambiar"
        current-step="2"
        max-steps="5"
        products="[[_destinations]]"
        selected="{{_destination}}">
      </cells-step-product-selector>

      <cells-step-enter-amount
        id="amount"
        title="Importe"
        change-label="Cambiar"
        current-step="3"
        max-steps="5"
        amount="{{_amount}}"
        total-balance="[[_sourceBalance]]"
        currency="[[_sourceCurrency]]"
        local-currency="EUR"
        language="es">
      </cells-step-enter-amount>

      <cells-step-date-selector
        id="date"
        title="Fecha"
        change-label="Editar"
        current-step="4"
        max-steps="5"
        selected-date="{{_date}}">
      </cells-step-date-selector>

      <cells-step-concept
        id="concept"
        title="Concepto"
        change-label="Editar"
        current-step="5"
        max-steps="5"
        concept="{{_concept}}"
        reference="{{_reference}}"
        show-reference>
      </cells-step-concept>

      <cells-summary-view
        id="summary"
        currency-code="[[_sourceCurrency]]"
        local-currency="EUR"
        button-label="cells-summary-view-transfer">
      </cells-summary-view>

      <cells-dm-global-apis-transfer
        id="dataManager"
        accounts="[[accounts]]"
        current-step="{{_currentStep}}"
        max-steps="{{_maxSteps}}"
        source-list="{{_sources}}"
        destination-list="{{_destinations}}"
        source-balance="{{_sourceBalance}}"
        source-currency="{{_sourceCurrency}}"
        selected-source="[[_origin]]"
        selected-destination="[[_destination]]"
        amount="[[_amount]]"
        date="[[_date]]"
        concept="[[_concept]]"
        reference="[[_reference]]"
        can-execute="{{_canExecute}}"
        fees="{{_fees}}"
        last-response="{{_lastResponse}}">
      </cells-dm-global-apis-transfer>

    </cells-demo-mobile>

  </template>
  <script>
    /* global mocks */
    (function(Polymer) {
      'use strict';

      Polymer({
        is: 'data-manager-behavior-demo',
        properties: {
          accounts: {
            type: Object,
            value: function() {
              return mocks.accounts;
            }
          },
          _sources: {
            notify: true,
            type: Object
          },
          _destinations: {
            notify: true,
            type: Object
          },
          _origin: {
            type: Object
          },
          _sourceBalance: {
            notify: true,
            type: Number
          },
          _sourceCurrency: {
            notify: true,
            type: String
          },
          _destination: {
            type: Object
          },
          _amount: {
            notify: true,
            type: Number
          },
          _date: {
            notify: true,
            type: Object
          },
          _concept: {
            notity: true,
            type: String
          },
          _reference: {
            notity: true,
            type: String
          },
          _currentStep: {
            notify: true,
            type: Number
          },
          _maxSteps: {
            notify: true,
            type: Number
          },
          _canExecute: {
            observer: 'canExecute',
            type: Boolean,
            value: false
          },
          _fees: {
            type: Object
          },
          _lastResponse: {
            notify: true,
            type: Object
          },
          _showActive: {
            type: Boolean,
            value: false
          }
        },

        listeners: {
          'summary-closed': '_sendTransfer',
          'cells-scroll-zone': '_scrollComponent'
        },

        canExecute: function(value) {
          debugger;
          var summary = this.$.summary;
          if (value) {
            summary.set('hasAddition', true);
            summary.set('amount', this._amount);
            summary.set('fees', this._fees);
          }
          summary.set('active', value);
        },

        _scrollComponent: function(payload) {
          payload.detail.scrollComplete(payload);
        },

        _sendTransfer: function(e) {
          this.$.dataManager.doTransfer(e);
        }

      });
    }(Polymer));
  </script>
</dom-module>
