<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <title>cells-dm-global-apis-transfer demo</title>

    <script src="../test/mocks/mocks.js"></script>
    <script src="../../webcomponentsjs/webcomponents-lite.js"></script>
    <script src="../../cells-scf-builder/cells-scf-builder.min.js"></script>

    <link rel="import" href="../../polymer/polymer.html" />
    <link rel="import" href="../../iron-pages/iron-pages.html">
    <link rel="import" href="../../paper-tabs/paper-tabs.html">

    <link rel="import" href="data-manager-behavior-demo.html"/>
    <link rel="import" href="data-manager-payload-demo.html"/>

  </head>

  <body unresolved ontouchstart>

    <template is="dom-bind" id="demo">

      <paper-tabs selected="{{page}}">
        <paper-tab>Behavior</paper-tab>
        <paper-tab>Payload</paper-tab>
      </paper-tabs>

      <iron-pages selected="[[page]]">

        <data-manager-behavior-demo></data-manager-behavior-demo>
        <data-manager-payload-demo></data-manager-payload-demo>

      </iron-pages>
    </template>

    <script src="demo.js"></script>
  </body>
</html>
